USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[actions]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actions](
	[action_id] [int] IDENTITY(1,1) NOT NULL,
	[action_name] [varchar](100) NULL
) ON [PRIMARY]
GO
