USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[server_storage_recommendations]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[server_storage_recommendations](
	[recommendation_id] [int] IDENTITY(1,1) NOT NULL,
	[recommendation_date] [date] NOT NULL,
	[server_id] [int] NOT NULL,
	[usable_capacity_mb] [decimal](18, 2) NOT NULL,
	[allocated_mb] [decimal](18, 2) NOT NULL,
	[available_mb] [decimal](18, 2) NOT NULL,
	[total_expansion_required_mb] [decimal](18, 2) NOT NULL,
	[additional_storage_required_mb] [decimal](18, 2) NOT NULL,
	[action_type] [varchar](30) NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[server_storage_recommendations] ADD  DEFAULT (getdate()) FOR [created_date]
GO
