USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[server_app_db]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[server_app_db](
	[server_app_db_id] [int] IDENTITY(1,1) NOT NULL,
	[server_id] [int] NOT NULL,
	[application_id] [int] NOT NULL,
	[database_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[server_app_db_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[server_app_db]  WITH CHECK ADD  CONSTRAINT [FK_server_app_db_application] FOREIGN KEY([application_id])
REFERENCES [dbo].[dt_applications] ([application_id])
GO
ALTER TABLE [dbo].[server_app_db] CHECK CONSTRAINT [FK_server_app_db_application]
GO
ALTER TABLE [dbo].[server_app_db]  WITH CHECK ADD  CONSTRAINT [FK_server_app_db_database] FOREIGN KEY([database_id])
REFERENCES [dbo].[ft_database] ([database_id])
GO
ALTER TABLE [dbo].[server_app_db] CHECK CONSTRAINT [FK_server_app_db_database]
GO
ALTER TABLE [dbo].[server_app_db]  WITH CHECK ADD  CONSTRAINT [FK_server_app_db_server] FOREIGN KEY([server_id])
REFERENCES [dbo].[dt_servers] ([server_id])
GO
ALTER TABLE [dbo].[server_app_db] CHECK CONSTRAINT [FK_server_app_db_server]
GO
