USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[get_db_info_for_alloc]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[get_db_info_for_alloc](
	[date_code] [date] NULL,
	[server_id] [int] NULL,
	[database_id] [int] NULL,
	[db_current_size_mb] [int] NULL,
	[avg_db_daily_growth_90day_mb] [int] NULL,
	[growth_in_60_days] [int] NULL,
	[mb_total_in_60_days] [int] NULL,
	[date_created] [date] NULL,
	[date_modified] [date] NULL
) ON [PRIMARY]
GO
