USE [SimulateGrowth]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDatabaseGrowthProjection]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateDatabaseGrowthProjection]
    @DateCode DATE
AS
BEGIN
    SET NOCOUNT ON;

    --==========================================================
    -- Build current projection
    --==========================================================

    CREATE TABLE #CurrentProjection
    (
        server_id INT,
        database_id INT,
        size_mb_total DECIMAL(18,2),
        size_mb_used DECIMAL(18,2),
        avg_daily_growth_mb DECIMAL(18,2),
        growth_in_60_days DECIMAL(18,2),
        mb_total_in_60_days DECIMAL(18,2),
        projected_free_mb DECIMAL(18,2),
        projected_pct_free DECIMAL(5,2)
    );

    INSERT INTO #CurrentProjection
    (
        server_id,
        database_id,
        size_mb_total,
        size_mb_used,
        avg_daily_growth_mb,
        growth_in_60_days,
        mb_total_in_60_days,
        projected_free_mb,
        projected_pct_free
    )
    SELECT
        a.server_id,
        b.database_id,
        c.size_mb_total,
        c.size_mb_used,
        d.avg_daily_growth_mb,
        d.avg_daily_growth_mb * 60,
        c.size_mb_used + (d.avg_daily_growth_mb * 60),
        c.size_mb_total - (c.size_mb_used + (d.avg_daily_growth_mb * 60)),
        ROUND(
            (
                c.size_mb_total -
                (c.size_mb_used + (d.avg_daily_growth_mb * 60))
            ) * 100.0 / c.size_mb_total,
            2
        )
    FROM server_app_db a
    INNER JOIN ft_database b
        ON a.database_id = b.database_id
    INNER JOIN growth_data c
        ON c.database_id = b.database_id
       AND c.date_code = @DateCode
    INNER JOIN database_growth_summary d
        ON d.database_id = b.database_id
       AND d.start_date = @DateCode;

    --==========================================================
    -- Close existing active records if anything changed
    --==========================================================

    UPDATE p
    SET
        effective_to = DATEADD(DAY,-1,@DateCode),
        date_modified = @DateCode
    FROM dbo.database_growth_projection p
    INNER JOIN #CurrentProjection cp
        ON p.server_id = cp.server_id
       AND p.database_id = cp.database_id
    WHERE p.effective_to IS NULL
      AND
      (
            p.size_mb_total <> cp.size_mb_total
         OR p.avg_daily_growth_mb <> cp.avg_daily_growth_mb
         OR p.growth_in_60_days <> cp.growth_in_60_days
         OR p.mb_total_in_60_days <> cp.mb_total_in_60_days
         OR p.projected_free_mb <> cp.projected_free_mb
         OR p.projected_pct_free <> cp.projected_pct_free
      );

    --==========================================================
    -- Insert new active records
    --==========================================================

    INSERT INTO dbo.database_growth_projection
    (
        effective_from,
        effective_to,
        server_id,
        database_id,
        size_mb_total,
        size_mb_used,
        avg_daily_growth_mb,
        growth_in_60_days,
        mb_total_in_60_days,
        projected_free_mb,
        projected_pct_free,
        date_created,
        date_modified
    )
    SELECT
        @DateCode,
        NULL,
        cp.server_id,
        cp.database_id,
        cp.size_mb_total,
        cp.size_mb_used,
        cp.avg_daily_growth_mb,
        cp.growth_in_60_days,
        cp.mb_total_in_60_days,
        cp.projected_free_mb,
        cp.projected_pct_free,
        @DateCode,
        @DateCode
    FROM #CurrentProjection cp
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM dbo.database_growth_projection p
        WHERE p.server_id = cp.server_id
          AND p.database_id = cp.database_id
          AND p.effective_to IS NULL
          AND p.size_mb_total = cp.size_mb_total
          AND p.avg_daily_growth_mb = cp.avg_daily_growth_mb
          AND p.growth_in_60_days = cp.growth_in_60_days
          AND p.mb_total_in_60_days = cp.mb_total_in_60_days
          AND p.projected_free_mb = cp.projected_free_mb
          AND p.projected_pct_free = cp.projected_pct_free
    );

    DROP TABLE #CurrentProjection;
END;

GO
