USE [SimulateGrowth]
GO
/****** Object:  StoredProcedure [dbo].[GenerateServerStorageRecommendations]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GenerateServerStorageRecommendations]
(
    @RecommendationDate DATE
)
AS
BEGIN

SET NOCOUNT ON;

DELETE
FROM server_storage_recommendations
WHERE recommendation_date = @RecommendationDate;

WITH ServerUsage AS
(
    SELECT
        p.server_id,
        SUM(p.size_mb_total) AS allocated_mb,
        MAX(s.server_total_storage_available_mb * 0.85) AS usable_capacity_mb
    FROM database_growth_projection p
    INNER JOIN server_storage s
        ON p.server_id = s.server_id
    WHERE p.effective_to IS NULL
    GROUP BY p.server_id
),
ExpansionRequirements AS
(
    SELECT
        server_id,
        SUM(expansion_needed_mb) AS total_expansion_required_mb
    FROM database_recommendations
    WHERE recommendation_date = @RecommendationDate
    GROUP BY server_id
)

INSERT INTO server_storage_recommendations
(
    recommendation_date,
    server_id,
    usable_capacity_mb,
    allocated_mb,
    available_mb,
    total_expansion_required_mb,
    additional_storage_required_mb,
    action_type
)

SELECT

    @RecommendationDate,

    u.server_id,

    u.usable_capacity_mb,

    u.allocated_mb,

    u.usable_capacity_mb - u.allocated_mb,

    ISNULL(e.total_expansion_required_mb,0),

    CASE
        WHEN ISNULL(e.total_expansion_required_mb,0)
             <= (u.usable_capacity_mb - u.allocated_mb)
        THEN 0

        ELSE
            ISNULL(e.total_expansion_required_mb,0)
            - (u.usable_capacity_mb - u.allocated_mb)
    END,

    CASE
        WHEN ISNULL(e.total_expansion_required_mb,0)
             <= (u.usable_capacity_mb - u.allocated_mb)
        THEN 'NO_ACTION'

        ELSE 'REQUEST_SERVER_STORAGE'
    END

FROM ServerUsage u
LEFT JOIN ExpansionRequirements e
ON u.server_id = e.server_id;

END

GO
