USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[ft_database]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ft_database](
	[database_id] [int] IDENTITY(1,1) NOT NULL,
	[database_nm] [varchar](100) NULL,
	[database_type_id] [int] NULL,
	[expected_growth_pct] [float] NULL,
	[expected_annual_growth_mb] [int] NULL,
	[expected_annual_growth_pct] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[database_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ft_database]  WITH CHECK ADD  CONSTRAINT [fk_database_type_id] FOREIGN KEY([database_type_id])
REFERENCES [dbo].[database_types] ([database_type_id])
GO
ALTER TABLE [dbo].[ft_database] CHECK CONSTRAINT [fk_database_type_id]
GO
