USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[dt_servers]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_servers](
	[server_id] [int] IDENTITY(1,1) NOT NULL,
	[server_name] [varchar](100) NULL,
	[initial_storage_allocation_20180101] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[server_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
