USE [SimulateGrowth]
GO
/****** Object:  StoredProcedure [dbo].[GenerateDatabaseRecommendations]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GenerateDatabaseRecommendations]
(
    @RecommendationDate DATE
)
AS
BEGIN

    SET NOCOUNT ON;

    DELETE
    FROM database_recommendations
    WHERE recommendation_date = @RecommendationDate;

    INSERT INTO database_recommendations
    (
        recommendation_date,
        server_id,
        database_id,
        current_allocated_mb,
        projected_usage_mb,
        expansion_needed_mb,
        avg_daily_growth_mb,
        action_type
    )
    SELECT
        @RecommendationDate,
        server_id,
        database_id,
        size_mb_total,
        mb_total_in_60_days,

        CASE
            WHEN mb_total_in_60_days > size_mb_total
            THEN CEILING((mb_total_in_60_days - size_mb_total) / 1024.0) * 1024
            ELSE 0
        END,

        avg_daily_growth_mb,

        CASE
            WHEN mb_total_in_60_days > size_mb_total
                THEN 'EXPAND_DATABASE'
            ELSE
                'NO_ACTION'
        END

    FROM database_growth_projection
    WHERE effective_to IS NULL;

END

GO
