USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[storage_allocation_results]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage_allocation_results](
	[simulation_date] [date] NULL,
	[database_id] [int] NULL,
	[recommended_total_mb] [bigint] NULL,
	[predicted_days_until_full] [float] NULL,
	[shortage_mb] [bigint] NULL,
	[objective_value] [float] NULL
) ON [PRIMARY]
GO
