USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[server_storage]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[server_storage](
	[server_id] [int] NULL,
	[date_code] [date] NULL,
	[server_total_storage_available_mb] [int] NULL,
	[server_used_storage_mb] [int] NULL
) ON [PRIMARY]
GO
