USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[action_table]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[action_table](
	[date_code] [date] NULL,
	[server_id] [int] NULL,
	[database_id] [int] NULL,
	[action_id] [int] NULL,
	[action_text] [varchar](8000) NULL
) ON [PRIMARY]
GO
