USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[database_growth_projection]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[database_growth_projection](
	[projection_id] [int] IDENTITY(1,1) NOT NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[server_id] [int] NOT NULL,
	[database_id] [int] NOT NULL,
	[size_mb_total] [decimal](18, 2) NOT NULL,
	[avg_daily_growth_mb] [decimal](18, 2) NOT NULL,
	[growth_in_60_days] [decimal](18, 2) NOT NULL,
	[mb_total_in_60_days] [decimal](18, 2) NOT NULL,
	[projected_free_mb] [decimal](18, 2) NOT NULL,
	[projected_pct_free] [decimal](5, 2) NOT NULL,
	[date_created] [date] NOT NULL,
	[date_modified] [date] NOT NULL,
	[size_mb_used] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[projection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[database_growth_projection]  WITH CHECK ADD  CONSTRAINT [FK_database_growth_projection_database] FOREIGN KEY([database_id])
REFERENCES [dbo].[ft_database] ([database_id])
GO
ALTER TABLE [dbo].[database_growth_projection] CHECK CONSTRAINT [FK_database_growth_projection_database]
GO
ALTER TABLE [dbo].[database_growth_projection]  WITH CHECK ADD  CONSTRAINT [FK_database_growth_projection_server] FOREIGN KEY([server_id])
REFERENCES [dbo].[dt_servers] ([server_id])
GO
ALTER TABLE [dbo].[database_growth_projection] CHECK CONSTRAINT [FK_database_growth_projection_server]
GO
