USE [SimulateGrowth]
GO
/****** Object:  StoredProcedure [dbo].[PopulateDatabaseGrowthSummary]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PopulateDatabaseGrowthSummary]
(
    @StartDate DATE,
    @EndDate DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE dbo.database_growth_summary;

    ;WITH UsageHistory AS
    (
        SELECT
            database_id,
            date_code,
            size_mb_used -
                LAG(size_mb_used) OVER
                (
                    PARTITION BY database_id
                    ORDER BY date_code
                ) AS daily_growth_mb
        FROM dbo.growth_data
        WHERE date_code BETWEEN @StartDate AND @EndDate
    )
    INSERT INTO dbo.database_growth_summary
    (
        database_id,
        start_date,
        end_date,
        avg_daily_growth_mb
    )
    SELECT
        database_id,
        @StartDate,
        @EndDate,
        AVG(
            CAST(
                CASE
                    WHEN daily_growth_mb < 0 THEN 0
                    ELSE daily_growth_mb
                END
                AS DECIMAL(18,2)
            )
        ) AS avg_daily_growth_mb
    FROM UsageHistory
    WHERE daily_growth_mb IS NOT NULL
    GROUP BY database_id;
END;

GO
