USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[database_types]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[database_types](
	[database_type_id] [int] IDENTITY(1,1) NOT NULL,
	[database_type_name] [varchar](100) NULL,
	[description] [varchar](1000) NULL,
	[mean] [float] NULL,
	[noise_factor_variable_low] [float] NULL,
	[noise_factor_variable_med] [float] NULL,
	[noise_factor_variable_high] [float] NULL,
	[growth_level_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[database_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[database_types]  WITH CHECK ADD  CONSTRAINT [fk_growth_level_id] FOREIGN KEY([growth_level_id])
REFERENCES [dbo].[growth_levels] ([growth_level_id])
GO
ALTER TABLE [dbo].[database_types] CHECK CONSTRAINT [fk_growth_level_id]
GO
