USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[database_growth_summary]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[database_growth_summary](
	[database_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[avg_daily_growth_mb] [decimal](18, 2) NOT NULL,
	[date_calculated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[database_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[database_growth_summary] ADD  DEFAULT (sysutcdatetime()) FOR [date_calculated]
GO
