USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[ft_size_ranges]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ft_size_ranges](
	[size_range_id] [int] IDENTITY(1,1) NOT NULL,
	[database_type_id] [int] NULL,
	[min_range_mb] [decimal](18, 0) NULL,
	[max_range_mb] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[size_range_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ft_size_ranges]  WITH CHECK ADD  CONSTRAINT [fk_database_type_id_2] FOREIGN KEY([database_type_id])
REFERENCES [dbo].[database_types] ([database_type_id])
GO
ALTER TABLE [dbo].[ft_size_ranges] CHECK CONSTRAINT [fk_database_type_id_2]
GO
