USE [SimulateGrowth]
GO
/****** Object:  StoredProcedure [dbo].[usp_PopulateDatabaseGrowthProjection]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_PopulateDatabaseGrowthProjection]
    @DateCode DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Remove existing projection for this date
    DELETE
    FROM dbo.database_growth_projection
    WHERE date_code = @DateCode;

    INSERT INTO dbo.database_growth_projection
    (
        date_code,
        server_id,
        database_id,
        size_mb_total,
        avg_daily_growth_mb,
        date_created,
        date_modified,
        growth_in_60_days,
        mb_total_in_60_days
    )
    SELECT
        @DateCode,
        a.server_id,
        b.database_id,
        c.size_mb_total,
        d.avg_daily_growth_mb,
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS DATE),
        d.avg_daily_growth_mb * 60,
        c.size_mb_used + (d.avg_daily_growth_mb * 60)
    FROM server_app_db a
    INNER JOIN ft_database b
        ON a.database_id = b.database_id
    INNER JOIN growth_data c
        ON c.database_id = b.database_id
       AND c.date_code = @DateCode
    INNER JOIN database_growth_summary d
        ON d.database_id = b.database_id
       AND d.start_date = @DateCode;
END;

GO
