USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[growth_data]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[growth_data](
	[database_id] [int] NOT NULL,
	[date_code] [date] NOT NULL,
	[size_mb_total] [float] NULL,
	[size_mb_used] [float] NULL,
	[size_mb_free] [float] NULL,
	[pct_free] [decimal](18, 0) NULL,
 CONSTRAINT [PK_growth_data_Composite] PRIMARY KEY CLUSTERED 
(
	[database_id] ASC,
	[date_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[growth_data]  WITH CHECK ADD  CONSTRAINT [fk_database_id] FOREIGN KEY([database_id])
REFERENCES [dbo].[ft_database] ([database_id])
GO
ALTER TABLE [dbo].[growth_data] CHECK CONSTRAINT [fk_database_id]
GO
