USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[growth_levels]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[growth_levels](
	[growth_level_id] [int] IDENTITY(1,1) NOT NULL,
	[growth_level_description] [varchar](200) NULL,
	[min_daily_growth_pct] [float] NULL,
	[max_daily_growth_pct] [float] NULL,
	[min_annual_growth] [float] NULL,
	[max_annual_growth] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[growth_level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
