USE [SimulateGrowth]
GO
/****** Object:  Table [dbo].[database_recommendations]    Script Date: 27/08/2026 11:33:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[database_recommendations](
	[recommendation_id] [int] IDENTITY(1,1) NOT NULL,
	[recommendation_date] [date] NOT NULL,
	[server_id] [int] NOT NULL,
	[database_id] [int] NOT NULL,
	[current_allocated_mb] [decimal](18, 2) NOT NULL,
	[projected_usage_mb] [decimal](18, 2) NOT NULL,
	[expansion_needed_mb] [decimal](18, 2) NOT NULL,
	[avg_daily_growth_mb] [decimal](18, 2) NOT NULL,
	[action_type] [varchar](30) NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[database_recommendations] ADD  DEFAULT (getdate()) FOR [created_date]
GO
